body{
    background: black;
}

.navbar a{
    color: white;
  
}

nav ul li{
    font-size: 20px;
}

.center{
    margin-left: 8%;
    font-size: 17px;
    color: white;
    margin-top: 10px
}

.profile{
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 50%;
    padding: 0;
    padding-top: 5px;
    margin-top: 5px;
}

.profile .fas{
    margin-top: -2px;
    margin-left: 3px;
    font-size: 23px;
    text-align: center;
}

/* .dropdown-toggle{
    margin-left: 20%;
} */

.nav-pills{
    padding: 10px 0;
    padding-left: 15.5%;
    background: rgb(36, 36, 36);
}
.nav-pills a{
    color: rgb(156, 155, 155);
}
.nav-pills .nav-item .active{
    background: linear-gradient(to right, rgb(255, 81, 0), yellow);
    padding: 5px 20px;
    color: black;
}

.profile-hr{
    width: 25%;
    border-color: yellow;
    display: inline-block;
    
}

.hr2{
    /* position: absolute; */
    width: 4%;
    border-color: yellow;
    /* top: 292px;
    left: 100px; */
    display: inline-block;
   
}

.container{
    color: white;
    padding-top: 60px;
}

.profile-setup a{
    color: white;
    font-size: 25px;
}

.row-2{
    margin-top: 50px;
}

.left{
    border-right: 2px solid white;
    padding-right: -20px;
    height: 400px;
}

.create-new{
    background: linear-gradient(to right, rgb(255, 81, 0), yellow);
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 45px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.radio-check {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
  }

  .radio-check input {
    position: absolute;
   top: 10px;
   left: 0%;
   opacity: 0;
    cursor: pointer;
  }

  .radio-check .text{
      margin-left: 8%;
      
  }

  .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
    margin: 0;
    margin-right: 2%;
    background: linear-gradient(to right, rgb(255, 81, 0), yellow);
  }

  .filters{
      list-style-type: none;
     padding-left: 0;
  }

  .btn-primary{
      margin: 7px 0;
      margin-right: 8px;
      padding: 4px 7px;
  }

 

  .search{
      margin-left: 65%;
      margin-bottom: 40px;
  }

  .form-control{
    border: 1px solid white;
    background: black;
    color: white;
    font-size: 15px;
    padding: 25px 30px;
    border-radius: 10px;
  }

  .image{
      width: 100px;
      height: 200px;
      background: rgb(168, 166, 166);
      text-align: center;
      border-radius: 10px;
      margin: 0 4.1%;
      margin-bottom: 40px;
      font-size: 50px;
  }